@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #ffffff;
}

nav .icons-container {
    margin-top: 7px;
    margin-left: 522px;
    
}

nav img {
    padding: 14px 16px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 677px;
    margin-top: 10px;
}

nav a {
    color: #ffffff;
    padding: 14px 16px;
}

nav .travel-goo-icon{
    width: 76px;
    height: 60px;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin: 0px;
    margin-top: 16px;
    margin-bottom: 19px;
}

footer {
    display: flex;
}

.root-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.section-home {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("./img/image-home.jpg");
}

.section-services {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.section-best-services {
    margin-top: 165px;
    background-color: #ececec;
    background-image: url(./img/world-map.png);
}

.section-popular-destinations {
    display: flex;
}

.section-packages {
    background-color: #ecf1f0;
    margin-top: 33px;
}

.people-say-section {
    position: relative;
    min-height: 750px;
}

.people-say-section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ecf1f0;
  z-index: -1;
}

.section-subscribe {
    position: relative;
    min-height: 590px;
    background-color: #ffffff;
}

.next-trip-section {
   height: 100vh;
}

.img-home {
    width: 100%;
    height: 100%;
}

.img-home-container {
    width: 100%;
    height: 100%;
}

.text-container {
    height: 100vh;
}

.text-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 75px;
    margin: 0px;
    margin-top: 270px;
    margin-left: 55px;
    color: #ffffff;
}

.text-title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 75px;
    margin: 0px;
    margin-left: 55px;
    color: #ffffff;
}

.descripition-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin: 15px 0px 5px 0px;
}

.descripition-subtitle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
}

.button-discover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 214px;
    height: 60px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #00a651;
    margin: 40px 0px 0px 840px;
    cursor: pointer;
}

.button-discover a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.our-services-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: 100px;
}

.box-services-container1 {
    width: 346px;
    height: 165px;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding: 21px 21px 7px 18px;
    margin-right: 90px;
    margin-top: 25px;
}

.box-services-container2 {
    width: 346px;
    height: 165px;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 21px 21px 15px 18px;
    margin-top: 25px;
}

.box-services-container3 {
    width: 346px;
    height: 165px;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding: 21px 21px 7px 18px;
    margin-left: 90px;
    margin-top: 25px;
}

.box-services-container2 h4 {
    margin: 0px 0px 20px 0px;
}

.descripition-subtitle-services {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    margin-top: 7px;
}

.tour-plan-title {
    margin: 0px 0px 20px 0px;
}

.best-services-title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.best-services-title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 5px 0px 0px 0px;
}

.descripition-subtitle-best-services {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    margin-top: 12px;
}

.card-experience-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 270px;
    height: 270px;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 130px 100px 100px 100px;
}

.card-experience-container p {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
}

.numbers-card {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.group-cards-container {
    display: flex;
}

.map-popular-destinations-container {
    background-image: url(./img/world-map2.png);
    width: 722px;
    height: 772px;
    margin-top: 65px;
}

.point-destination1 {
    margin: 391px 0px 0px 381px;
}

.point-destination2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 79px 0px 0px 482px;
}

.point-destination3 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 172px 0px 0px 690px;
}

.group-cards-destinations-container {
    margin: 65px 0px 0px 255px;
}

.group-cards-destinations-container h5 {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 35px;
}

.group-cards-destinations-container .subtitle1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0px 0px 0px 50px;
}

.group-cards-destinations-container .subtitle2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0px 0px 0px 40px;
}

.group-cards-destinations-container .subtitle3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0px 0px 0px 21px;
}

.group-cards-destinations-container .arrow1 {
    margin: 0px 0px 0px 49px;
    cursor: pointer;
}

.group-cards-destinations-container .arrow2 {
    margin: 0px 0px 0px 49px;
    cursor: pointer;
}

.group-cards-destinations-container .arrow3 {
    margin: 0px 0px 0px 50px;
    cursor: pointer;
}

.card-popular-destinations-container {
    display: flex;
    align-items: center;
    width: 659px;
    height: 223px;
    border-radius: 15px;
    background-color: #ffffff;
    margin-top: 30px;
}

.best-packages {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.buttons-categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.butn {
    width: 170px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #808080;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 55px;
    cursor: pointer;
}

.cards-packages-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    margin-top: 100px;
}

.card-packages {
    width: 374px;
    height: 459px;
    border-radius: 15px;
    background-color: #ffffff;
}

.images-locations{
    width: 374px;
    height: 305px;
}

.text-packages1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 0px 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.text-packages2 {
    margin: 37px 0px 0px 3px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.text-packages3 {
    cursor: pointer;
    margin: 41px 0px 0px 155px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
}

#canada-card {
    margin-left: 178px;
}

#japan-card {
    margin-left: 196px;
}

#button-packages {
    margin-top: 128px;
    margin-bottom: 50px;
}

.descripition-cards {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0px 0px 10px;
}

.location-point-icon {
    width: 20px;
    height: 20px;
    margin: 40px 0px 0px 0px;
}

.low-informations-container {
    display: flex;
}

.descripition-next-trips {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 5px 0px 0px 0px;
}

.steps-group-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 0px 0px 0px;
    gap: 80px;
}

.steps-container1 {
    display: flex;
    width: 500px;
    align-items: center;
}

.steps-container2 {
    display: flex;
    width: 500px;
    align-items: center;
}

.steps-container3 {
    display: flex;
    width: 400px;
    align-items: center;
}

.trips-destination {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #5e6282;
    margin: 0px 0px 10px 8px;
}

.trips-destination-description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #5e6282;
    margin: 0px 0px 0px 8px;
}

.trip-destination-container1 {
    width: 323px;
    height: 355px;
    background-color: #ffffff;
    padding: 12px 12px 12px 12px;
    margin: 100px 0px 0px 378px;
    border-color: #00a651;
    border-style: solid;
    position: absolute;
    border-radius: 16px;
}

.trip-destination-container1 p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #84829a;
}

.trip-greece-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.trip-group-icons-container {
    display: flex;
    gap: 7px;
}

.trip-group-low-icons-container {
    display: flex;
    gap: 7px;
}

.peoples-going-greece {
    margin: 30px 0px 0px 0px;
}

.icon-heart {
    width: 18px;
    height: 18px;
    margin: 34px 0px 0px 130px;
}

.icon-building {
    width: 18px;
    height: 18px;
    margin-top: 31px;
}

.mini-card-container1 {
    display: flex;
    align-items: center;
    width: 263px;
    height: 129px;
    background-color: #ffffff;
    border-radius: 18px;
    position: absolute;
    margin: 315px 0px 0px 594px;
    border-color: #8a79df;
    border-style: solid;
}

.descripition-mini-card-container {
    margin-left: 5px;
}

.span-trip {
    color: #8a79df;
}

.ongoing-trip-home {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #84829a;
    margin: 0px;
}

.descripition-porcents-complete {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #080809;
    margin: 0px;
}

.mini-image {
    margin-bottom: 70px;
}

.destination-image-card {
    width: 321px;
    height: 161px;
    border-radius: 24px;
}

.mini-image-destination {
    width: 50px;
    height: 50px;
    margin-bottom: 70px;
    border-radius: 50px;
}

.trip-destination-container2 {
    width: 323px;
    height: 355px;
    background-color: #ffffff;
    padding: 12px 12px 12px 12px;
    margin: 100px 0px 0px 988px;
    border-color: #00a651;
    border-style: solid;
    position: absolute;
    border-radius: 16px;
}

.trip-destination-container2 p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #84829a;
}

.mini-card-container2 {
    display: flex;
    align-items: center;
    width: 263px;
    height: 129px;
    background-color: #ffffff;
    border-radius: 18px;
    position: absolute;
    margin: 315px 0px 0px 1200px;
    border-color: #8a79df;
    border-style: solid;
}

.cards-container{
    position: relative;
    height: 600px;
    width: 100%;
}

.people-say-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.box-opinion-container {
    width: 738px;
    height: 250px;
    position: absolute;
    background-color: #ffffff;
    margin: 320px 0px 0px 570px;
    z-index: 1;
}

.opinion-client-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    position: absolute;
    margin: 100px 0px 0px 20px;
}

.name-client {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    position: absolute;
    margin: 210px 0px 0px 300px;
}

.background-image-opinion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 330px;
    position: absolute;
}

.perfil-image-client {
    position: absolute;
    margin: 250px 0px 0px 860px;
    z-index: 2;
}

.box-subscribe-container {
    width: 1130px;
    height: 387px;
    background-color: #c9fcf2;
    border-top-left-radius: 150px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    margin: 90px 0px 0px 360px;
}

.subscribe-text1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 33px;
    color: #5e6282;
    margin: 50px 0px 0px 290px;
    position: absolute;
    
}

.subscribe-text2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 33px;
    color: #5e6282;
    margin: 90px 0px 0px 290px;
    position: absolute;
    
}

.input-button-group-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 250px;
    margin-left: 280px;
    position: absolute;
}

.input-subscribe {
    width: 421px;
    height: 68px;
    border-radius: 10px;
    background-color: white;
    color: #39425d;
    border: none;
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #5e6282;
}

.button-subscribe {
    width: 180px;
    height: 68px;
    border-radius: 10px;
    background-color: #00a651;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: white;
    border: none;
    cursor: pointer;
}

.decorative-icon {
    position: absolute;
    margin: 290px 0px 0px 1065px;
}

.subscribe-icon {
    position: absolute;
    margin: 0px 0px 300px 1090px;
}

.descripition-text-footer {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #5e6282;
}

.logo-footer-container {
    margin: 20px 0px 0px 150px;
}

.title-categories-footer {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #080809
}

.contacts-container {
    display: flex;
    margin-left: 180px;
    gap: 200px;
    padding: 0px;
}

.contacts-container li {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #5e6282;
    list-style-type: none;
    padding: 0px;
    margin-top: 27px;
}

.contacts-container ul {
    padding: 0px;
}

.group-icons-social-container {
    display: flex;
    gap: 20px;
}

.icons-stores-container {
    margin-left: 130px;
}

.icons-stores-container img {
    cursor: pointer;
}

.discover-app-footer {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #5e6282;
}

.stores-icon-container {
    display: flex;
    gap: 15px;
}

.all-rights-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5e6282;
}