@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #ffffff;
}

nav .icons-container {
    margin-top: 7px;
    margin-left: 522px;
    
}

nav img {
    padding: 14px 16px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 677px;
    margin-top: 10px;
}

nav a {
    color: #ffffff;
    padding: 14px 16px;
}

nav .travel-goo-icon{
    width: 76px;
    height: 60px;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin: 0px;
    margin-top: 16px;
    margin-bottom: 19px;
}

.root-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.section-home {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("./img/image-home.jpg");
}

.section-services {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.section-best-services {
    margin-top: 165px;
    background-color: #ececec;
    background-image: url(./img/world-map.png);
}

.section-popular-destinations {
    display: flex;
}

.section-packages {
    background-color: #ecf1f0;
    margin-top: 33px;
}

.img-home {
    width: 100%;
    height: 100%;
}

.img-home-container {
    width: 100%;
    height: 100%;
}

.text-container {
    height: 100vh;
}

.text-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 75px;
    margin: 0px;
    margin-top: 270px;
    margin-left: 55px;
    color: #ffffff;
}

.text-title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 75px;
    margin: 0px;
    margin-left: 55px;
    color: #ffffff;
}

.descripition-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin: 15px 0px 5px 0px;
}

.descripition-subtitle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
}

.button-discover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 214px;
    height: 60px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #00a651;
    margin: 40px 0px 0px 840px;
    cursor: pointer;
}

.button-discover a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.our-services-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: 100px;
}

.box-services-container1 {
    width: 346px;
    height: 165px;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding: 21px 21px 7px 18px;
    margin-right: 90px;
    margin-top: 25px;
}

.box-services-container2 {
    width: 346px;
    height: 165px;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 21px 21px 15px 18px;
    margin-top: 25px;
}

.box-services-container3 {
    width: 346px;
    height: 165px;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding: 21px 21px 7px 18px;
    margin-left: 90px;
    margin-top: 25px;
}

.box-services-container2 h4 {
    margin: 0px 0px 20px 0px;
}

.descripition-subtitle-services {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    margin-top: 7px;
}

.tour-plan-title {
    margin: 0px 0px 20px 0px;
}

.best-services-title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.best-services-title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 5px 0px 0px 0px;
}

.descripition-subtitle-best-services {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    margin-top: 12px;
}

.card-experience-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 270px;
    height: 270px;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 130px 100px 100px 100px;
}

.card-experience-container p {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
}

.numbers-card {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.group-cards-container {
    display: flex;
}

.map-popular-destinations-container {
    background-image: url(./img/world-map2.png);
    width: 722px;
    height: 772px;
    margin-top: 65px;
}

.point-destination1 {
    margin: 391px 0px 0px 381px;
}

.point-destination2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 79px 0px 0px 482px;
}

.point-destination3 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 172px 0px 0px 690px;
}

.group-cards-destinations-container {
    margin: 65px 0px 0px 255px;
}

.group-cards-destinations-container h5 {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 35px;
}

.group-cards-destinations-container .subtitle1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0px 0px 0px 50px;
}

.group-cards-destinations-container .subtitle2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0px 0px 0px 40px;
}

.group-cards-destinations-container .subtitle3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0px 0px 0px 21px;
}

.group-cards-destinations-container .arrow1 {
    margin: 0px 0px 0px 49px;
    cursor: pointer;
}

.group-cards-destinations-container .arrow2 {
    margin: 0px 0px 0px 49px;
    cursor: pointer;
}

.group-cards-destinations-container .arrow3 {
    margin: 0px 0px 0px 50px;
    cursor: pointer;
}

.card-popular-destinations-container {
    display: flex;
    align-items: center;
    width: 659px;
    height: 223px;
    border-radius: 15px;
    background-color: #ffffff;
    margin-top: 30px;
}

.best-packages {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.buttons-categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.butn {
    width: 170px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #808080;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 55px;
    cursor: pointer;
}

.cards-packages-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    margin-top: 100px;
}

.card-packages {
    width: 374px;
    height: 459px;
    border-radius: 15px;
    background-color: #ffffff;
}

.images-locations{
    width: 374px;
    height: 305px;
}

.text-packages1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 0px 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.text-packages2 {
    margin: 37px 0px 0px 3px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.text-packages3 {
    cursor: pointer;
    margin: 41px 0px 0px 155px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
}

#canada-card {
    margin-left: 178px;
}

#japan-card {
    margin-left: 196px;
}

#button-packages {
    margin-top: 90px;
}

.descripition-cards {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0px 0px 10px;
}

.location-point-icon {
    width: 20px;
    height: 20px;
    margin: 40px 0px 0px 0px;
}

.low-informations-container {
    display: flex;
}